window
{
    background-color:#000000;
}

#label_color1
{
    color:#ffffff;
}

#label_color2
{
    color:#ffffff;
}

#label_color3
{
    color:#ffffff;
}

#label_color4
{
    color:#ffffff;
}

#label_color5
{
    color:#ffffff;
}

#label_color6
{
    color:#ffffff;
}

#label_color7
{
    color:#ffffff;
}
